*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and(max-width: 1200px){

}
.banner {
    position: relative;
    width: 100%;
}

.banner img{
    width: 100%;
}

.banner_text {
    color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 35px;
    width: 100%;
}

.banner_text h2 {
    font-size: 60px;
    text-align: center;
}

.banner_text p {
    top: 30px;
    text-align: center;
    font-size: 30px;
    font-family: Gotham Pro Light, sans-serif;

}

.banner_slogan {
    color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 405px;
    width: 100%;
    margin:81px 0 81px 0;
}

.banner_slogan h3 {
    font-size: 42px;
    color: #b6f1ff;
    margin:0 0 81px 966px;
}

.banner_slogan p {
    font-size: 30px;
    font-family: Gotham Pro Light, sans-serif;
    margin:81px 0 81px 966px;
}
.banner_slogan button {
    font-size: 24px;
    font-family: Gotham Pro Black, sans-serif;
    margin:0 0 81px 966px;
    width: 344px;
    height: 71px;
    border-radius: 5px;
    background-color: #ff1744;
    color:#ffffff;
    text-transform: uppercase;
    border-color: #ff1744 #ff1744 #d50000;

}
/*ПЕРВАЯ СТРАНИЦА ЗАКОНЧИЛАСЬ*/
/*ширина:1170px*/
.second_page {
    width: 1170px;
    margin: 0 auto;
    background-color: #b6f1ff;
}

.second_page h2{
    text-align: center;
    margin: 69px 0 83px 0;
    font-size: 47px;
    font-family: Gotham Pro Medium, sans-serif;
    background-color: yellow;
}

.advantages_container {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: cornsilk;
}

.advantages_container div img{
height: 50px;
}

.advantages {
    width: 10em;
    margin: 30px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.advantages_item img{
    margin-bottom: 27px ;
}

.advantages_item h3 {
    line-height: 1.5em;
}

.advantages_item p{
    margin-top: 10px;
    font-family: Gotham Pro Light, sans-serif;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 1.5em;
}

@media screen and(max-width: 1200px){

}