*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img{
    width: 100%;
}

.banner_text {
    color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 35px;
    width: 100%;
}

.banner_text h2 {
    font-size: 60px;
    text-align: center;
}

.banner_text p {
    top: 30px;
    text-align: center;
    font-size: 30px;
    font-family: Gotham Pro Light, sans-serif;

}

.banner_slogan {
    color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 405px;
    left: 81px;
    width: 100%;
}

.banner_slogan h3 {
    font-size: 42px;
    color: #b6f1ff;
    margin:0 0 81px 966px;
}

.banner_slogan p {
    font-size: 30px;
    font-family: Gotham Pro Light, sans-serif;
    margin:81px 0 81px 966px;
}
.banner_slogan button {
    font-size: 24px;
    font-family: Gotham Pro Black, sans-serif;
    margin:0 0 81px 966px;
    width: 344px;
    height: 71px;
    border-radius: 5px;
    background-color: #ff1744;
    color:#ffffff;
    text-transform: uppercase;
    border-color: #ff1744 #ff1744 #d50000;

}
/*ПЕРВАЯ СТРАНИЦА ЗАКОНЧИЛАСЬ*/
/*ширина:1170px*/
.second_page {
    width: 1170px;
    margin: 0 auto;

}

.second_page h2{
    text-align: center;
    margin: 69px 0 83px 0;
    font-size: 47px;
    font-family: Gotham Pro Medium, sans-serif;
}

.advantages_container {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages_container div img{
    height: 50px;
}

.advantages {
    width: 10em;
    margin: 30px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.advantages_item img{
    margin-bottom: 27px ;
}

.advantages_item h3 {
    line-height: 1.5em;
}

.advantages_item p{
    margin-top: 10px;
    font-family: Gotham Pro Light, sans-serif;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 1.5em;
}
/*ВТОРАЯ СТРАНИЦА ЗАКОНЧИЛАСЬ*/
.events{
    background-color: #f5f5f5;
}
.events_body{
    width: 1170px;
    margin: 0 auto;
    background-color: #92c9d4;
}
.event_title {
    text-align: center;
    padding: 70px 0 67px;

}
.event_title h3 {
     font-size: 48px;
 }
.event_title p {
    font-size: 24px;
    font-family: Gotham Pro light, sans-serif;
}
.event_content {
    display: flex;
    border-bottom: 1px solid #333333;
}

.event_content h3 {
    margin-top: 47px;
    font-size: 48px;
    font-family: GothaProReg, sans-serif;
    line-height: 1.5em;
}
.event_content h4 {
    font-size: 24px;
    font-family: Gotham Pro light, sans-serif;
    margin-bottom: 50px;
    line-height: 1.5em;
}
.event_content div {
    margin-left:97px;
    padding-bottom: 70px ;
}
.event_content p {
    font-size: 18px;
    font-family: Gotham Pro light, sans-serif;
    line-height: 1.5em;
}
.event_content div p, #container_text_right div p {
    width: 555px;
}



/*ПРАВЫЙ КОНТЕЙНЕР*/

#container_text_right div {
    margin: 68px 97px 0 0;
    text-align: end;
}
/*ПРАВЫЙ КОНТЕЙНЕР закончился*/

#distance_block_up{
    margin: 68px;
}
